@media (min-width: 768px) and (max-width: 1024px) {
  nav > div > ul {
    visibility: hidden;
    width: 0px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    position: fixed;
  }
  #navdiv1 {
    width: 10%;
  }

  nav {
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    width: 100%;
    background-color: #540b51;
  }
  nav > div {
    width: 100%;
  }
  #navdiv1 {
    width: 80%;
    display: flex;
    align-items: center;
  }
  #navdiv1 > img {
    margin-left: 1rem;
    width: 7rem;
  }
  #navdiv2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #navdiv2 > button {
    width: 3rem;
    background-color: #540b51;
    border: none;
  }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #540b51;
  }
  #headerdiv1 {
    background-color: #540b51;
    color: white;
    text-align: left;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  #headerdiv1 > h1 {
    width: 100%;
    font-size: 3rem;
    margin-top: 106px;
  }
  #headerdiv1 > p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  #headerDiv2 {
    display: flex;
    flex-direction: column;
  }
  .googlelogo {
    width: 2rem;
    background-color: white;
    border-radius: 8px;
    margin: 0.5rem;
  }
  .google-button {
    background-color: #4285f4;
    border: none;
    border-radius: 0.5rem;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .emailButton {
    background-color: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
  }
  .bigimagesHero {
    width: 23rem;
  }
  .imageDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 0;
  }

  .Airbnb {
    width: 12rem;
  }
  .Nasa {
    width: 5rem;
  }
  .Uber {
    width: 7rem;
  }
  .Target {
    width: 4rem;
  }
  .tnyt {
    width: 17rem;
  }
  .spotify {
    width: 10rem;
  }
  .section1 {
    background-color: #f3eae2;
    margin: 0;
  }

  .section1 p {
    color: black;
    text-align: center;
    margin-top: 0;
  }
  .query2 {
    width: 80vw;
    background-color: #f3eae2;
  }
  .bigimages {
    display: none;
    width: 20rem;
  }
  #divfirstimg {
    background-color: #f3eae2;
  }
  main {
    background-color: #f3eae2;
  }
  #specialimgdiv {
    display: flex;
    justify-content: flex-end;
    background-color: #f3eae2;
  }
}
